
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Raleway", "Helvetica";
  color: #323232;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.card {
  width: 80%;
  height: auto;
  padding: 30px 40px;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.label-float input{
  width: 100%;
  padding: 3px 3px;
  display: inline-block;
  border: 0;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 14px;
  transition: all .3s ease-out;
  border-radius: 0;
  border-bottom: 2px solid #f8a72d;
}

.label-float{
  position: relative;
  padding-top: 8px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.label-float input:focus{
  border-bottom: 2px solid #f8a72d;
}

.label-float label{
  color: black;
  pointer-event: none;
  position: absolute;
  top: -10px;
  left: 16px;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 12px;
  margin-top: 0;
  color: black;
}

button{
  width: 95%;
  height: 40px;
  background-color: #f8a72d;
  margin-top: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 1000;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #f8a72dbb;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #000000;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSucess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.logoSuperior{
  position: absolute;
  top: 0px;
  left: 0px;
}