@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Raleway", "Helvetica";
    color: #323232;
 }
 
 
 
 /* ***********************
          MENU
 *********************** */
 
 .container-menu {
    width: 100%;
    height: 125px;
    background-image: linear-gradient(to top, #d8d8d8, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa);
 
    border-bottom: solid 1px #32323222;
 }
 
 .container-menu img {
    margin-left: 50px;
    margin-top: 22px;
    width: 200px;
 }
    
 
 /* ***********************
       MEIO DA TELA
 *********************** */
 
 .bg-img-book {
    width: 100%;
    height: 570px;
 
    display: flex;
 
    position: relative;
 }
 
 .bg-img-book::after {
    content: "";
    background-image: url(../img/livros-bg.jpg);
    background-size: cover;
 
    opacity: 0.7;
 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
 
    position: absolute;
    z-index: -1;
 }
 
 .search-bar-area {
    position: relative;
    width: 50%;
 
    min-width: 325px;
    margin: 280px auto 0px auto;
 }
 
 .search-bar-area input {
    border-radius: 30px;
    outline: none;
 }
 
 .searcher-box {
    width: 90%;
    color: #323232;
 
    margin-top: 8px;
    padding: 10px 17px;
 
    border: 1px solid #323232;
    box-shadow: 0 0 50px #32323255;
 }
 
 ::-webkit-input-placeholder {
    font-style: italic;
    color: #32323277;
 }
 
 .btn-searcher {
    position: absolute;
    right: 0;
    background-color: #f8a72d;
 
    border: 1px solid #32323233;
    color: #FFF;
 
    letter-spacing: .7px;
    text-transform: uppercase;
    font-weight: bold;
 
    cursor: pointer;
    padding: 17px 27px;
    transition: transform .3s ease, background-color .5s ease, color .3s;
 }
 
 .btn-searcher:hover {
    transform: scale(1.05);
    background-color: #fafafa;
    color: #323232;
    border: 1px solid #f8a72d;
 }
 
 
 /* ***********************
          RODAPÉ
 *************************/
 .logoBMB {
  width: 70px;
  align-self: center;
}

 /* ***********************
          HEADER
 *************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #323232;
  }
  
  .logo {
    margin-right: auto;
  }

  .logoimagem{
    max-width: 10%;
    min-width: 4%;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    color: #edf0f1;
    text-decoration: none;
    font-weight: 530;
  }
  
  .nav__links li {
    padding: 0px 20px;
    margin-top: 14px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #f8a72d;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #f8a72d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    color: #323232;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #323232;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f8a72d;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }