/* Resetando configurações padrões do Browser */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   font-family: "Raleway", "Helvetica";
   color: #323232;
}

/***************************

      Configurações Gerais 

****************************/

body {
   background-color: #FAFAFA;
}

textarea:focus,
input:focus {
   outline: none;
}

.background-upon{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50vh;
   background-color: #f8a72dCC;
   border-bottom: 1px solid #32323211;
}

.logoSuperior{
   position: absolute;
   bottom: 0vh;
   right: 0vh;
   background-color: #000;
 }

 .container-logo{
   display: flex;
   justify-content: center;
   width: 100%;
   margin-top: auto;
 }

/***************************

      Container login

****************************/
.login {
   padding: 30px 40px;
   margin: 0 auto;
   margin-top: 15vh;

   min-width: 350px;
   width: 35%;
   border-radius: 15px;
   background-color: #FFF;
   text-align: center;
   border: 1px solid #A4A4A455;
   box-sizing: border-box;
   box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
   transition: 0.3s;
}

.login:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/***************************

         Formulário

****************************/

form {
   margin-top: 20px;
   text-align: left;
}

/***************************

      INPUTS E LABELS

****************************/

label,
input {
   width: 100%;
   font-family: "Raleway", "Helvetica";
}

label {
   font-size: 1.1rem;
   line-height: 25px;
}

input {
   margin-bottom: 15px;
   border-bottom: 2px solid #f8a72d;
   padding: 10px;
   transition: border-bottom 1s;
   background-color: transparent;
}

input:focus {
   border-bottom: 2px solid #f8a72d88;
}

::-webkit-input-placeholder {
   font-style: italic;
   font-size: 0.8rem;
}

.section-btn-entrar {
   text-align: center;
}

.btn-entrar {
   width: 95%;

   background-color: #f8a72d;
   margin-top: 40px;

   border: none;
   border-radius: 10px;
   cursor: pointer;

   font-weight: 1000;
   text-transform: uppercase;

   transition: background-color 0.3s;
}

.btn-entrar:hover {
   background-color: #f8a72dbb;
}

/***************************

      Password Reveal

****************************/

.icon-psw {
   padding: 6px;
   border-radius: 50%;

   position: absolute;
   right: 0;
   top: 5px;

   cursor: pointer;
   transition: background-color 0.5s;
}

.icon-psw:hover {
   background-color: #00000022;
}

.pass-section {
   position: relative;
}

/**********************

SEÇÃO ESQUECEU A SENHA

**********************/

.forgot-pass-section {
   text-align: right;
}

.forgot-pass-link {
   font-style: italic;
   font-size: 0.8rem;
   color: #323232;
   transition: color 0.5s;
}

.forgot-pass-link:hover {
   color: #32323288;
}

/**********************

NOVO CADASTRO

**********************/

.novo-cadastro {
   margin-top: 25px;
}

.novocad-description {
   margin-bottom: 20px;
   font-size: 1rem;
}

.novocad-btn {
   font-size: 0.9rem;
   color: #f8a72d;
   font-weight: 900;
   transition: color 0.3s;
   text-transform: uppercase;
}

.novocad-btn:hover {
   color: #f8a72dbb;
}
